<!DOCTYPE html>
<html>
  <head>
    <title>GrouchSMS</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type='text/javascript' src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <span class="navbar-brand">GrouchSMS</span>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>

      </ul>
    </div>
    </nav>
    
    <div class="container-fluid">
    <% if notice %>
      <div class="alert alert-warning" role="alert">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
  </div>
    <footer id="footer">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>
    <% end %>
    </footer>
  </body>
</html>
